

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

:root {
	background-color: white; /*Cream mint*/
	color: white;
	--main-color: #577590; /*azul Plan*/
	--main-bg_color: #F0F9F7 ;/*Cream mint*/
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.olas {
	white-space: nowrap;

}





body {
	font-family: 'Reem Kufi', sans-serif;

}

header, section, footer {
	width: 1600px;
	margin-right: auto;
	margin-left: auto;

}

header {
	background-color: var(--main-bg_color);
	border-radius: 0px 50px 50px 0px;

}

header h1 {
	font-weight: lighter;
	color: black;
	margin-left: 5em;
}

#marca {
	
	width: 750px;
	float: left;
}

#logo {
   width: 55%;
   margin-left: 1.1em;
   margin-top: 0;
   filter: invert(0);
   text-decoration: none;
}


/*************** NAV **********/

#botonera_redes {
	width: 300px;
	height: 70px;
	float: left;
	margin-left: 22.3em;
	margin-top: 3.8em;
	
}

#botonera_redes img {
	width: 45px;
	filter: invert(0);
	margin-top: 20px;
}

#botonera_redes ul { 
	display: block;
	list-style-type: none;
	float: right;

}

#botonera_redes ul li{
	display: inline-block;
}

#botonera_redes ul li a {
	text-decoration: none;
	padding-top: 35px;
	padding-left: 5px;
	padding-right: 5px;
	
}

#botonera_redes ul li a:hover {
	border-radius: 4px;

}
#botonera_redes ul li a:hover img {
		filter: invert(1);
}


/******** boton api whatsapp *******/

.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:20px;
  right:20px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:34px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}

/********* tamaño section *******/

#index {
	width: 1600px;

}

#container_banner { 
	width: 1200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

 }

 #container_banner img {
 	width: 100%;
	border-radius: 4px;
	margin-top: 3em; 

} 

#shop {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;

}

.btn_shop {
	background-color: #577590;
	border-radius: 4px 50px 50px 4px;
	padding: 12px;
	font-size: 20px;
	font-weight: bold;
	border: transparent;
}

.btn_shop a {
	padding: 12px;
	border-radius: 4px 50px 50px 4px;
	text-decoration: none;
	color: #F0F9F7;
	font-size: 22px;
	font-weight: bold;

}

.btn_shop a:hover {
	padding: 12px;
	border-radius: 4px 50px 50px 4px;
	border: transparent;
	font-weight: normal;
}

#renovando {
	width: 500px;
	background-color: var(--main-bg_color);
	text-align: center;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;

}