

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');



* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	background-color: #F0F9F7; /*Cream mint*/
	--main-color: #577590; /*azul Plan*/
	--main-bg_color: #F0F9F7 ;/*Cream mint*/
	color: white;

}

body {
	font-family: 'Reem Kufi', sans-serif;

}

header, section, footer {
	width: 1600px;
	margin-right: auto;
	margin-left: auto;

}

header {
	height: 75px;
	background-color: var(--main-color);

}

header h1 {
	font-weight: lighter;

}

#marca {
	width: 650px;
	float: left;
}

#logo {
   width: 35%;
   object-fit: cover;
   margin-left: 10px;
   margin-top: 10px;
   color: white;
   filter: invert(1);
   text-decoration: none;
}


/***************NAV**********/

#botonera_redes {
	height: 75px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

#botonera_redes img {
	width: 55%;
	float: right;
	filter: invert(100%);
	margin: 0;
	padding: 0;

}

#botonera_redes ul { 
	display: block;

}

#botonera_redes ul li{
	display: inline-block;
}

#botonera_redes ul li a {
	text-decoration: none;
	
	
}


.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}

#index {
	width: 1600px;
	height: 500px;


}

#container_banner { 
	width: 1400px;
	height: 620px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	margin-top: 15px;

 }

#shop {
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}